<!DOCTYPE html>
    <html>

<head>
    <title>Number of Homes</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <!-- <div class="wrapper">
        <h1>Number of Homes on the Market</h1>
        <h2>Number of Homes on the Market by Neighborhood</h2>
        <canvas id="hbar-chart" width="800" height="450"></canvas>
        <canvas id="bar-chart" width="800" height="450"></canvas>
      </div> -->

    <!-- <script>
        var x = 1
        window.onclick = myFunction;
        function myFunction() {
            if (x = 1) {
                var chart1 = document.getElementById("chart");
                var chart2 = document.getElementById("bar-chart");
                var chart3 = document.getElementById("linechart");
                chart1.removeChild(chart2);
                x = 2
            } else {
                chart1.removeChild(chart3);
            }
        }
    </script> -->


    <div id="chart">
        <h1>Number of Homes on the Market</h1>
        <h2>Number of Homes on the Market by Neighborhood</h2>
        <canvas id="hbar-chart" width="800" height="450"></canvas>
        <canvas id="bar-chart" width="800" height="450"></canvas>
        <canvas id="linechart" width="800" height="450"></canvas>
    </div>



    <!-- <a onclick="renderBar()"></a> -->

    <script src="{{ url_for('static', filename='js/bar.js') }}" ></script>
    <!-- <script src="bar.js"></script>
      <script src="line.js"></script> -->
</body>

</html>
