/* body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
} */


body {
    padding: 0;
    margin: 0;
  }

  #map-container {
    position: relative;
    height: 500px;
    width: 800px;
  }

  .h1 {
    left: 25%;
  }

  #map {
    left: 25%;
      /* position: relative; */
    height: inherit;
    width: inherit;
  }